<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/src/icon.png">
    <title>VNA Analyzer</title>

    <script src="/lib/react.development.js"></script>
    <script src="/lib/react-dom.development.js"></script>
    <script src="/lib/babel.min.js"></script>
    <link href="/lib/bootstrap-5.3.8-dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB">
    <script src="/lib/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"></script>
    <script src="/lib/plotly-3.3.0.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-primary"
     style="display: flex;justify-content: space-between; align-items: center; padding: 10px 15px;">
    {% if id!=null and id > 0 %}
        <a href="/settings">
            <button id="btn-settings" style="margin-left:15px" class="btn btn-primary">
                <img id="settingsIcon" src="/src/control.png" alt="Settings"
                     style="width: 40px; height: 40px; margin-right: 5px;">
                <span id="btn-settings-text">{{time}}</span>
            </button>
        </a>
        <div class="dropdown" style="margin-right:15px">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <img src="/static/img/user_images/0.png" align="right" alt="" style="width: 40px; height: 40px;"
                     class="round">
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li class="dropdown-header"><h4 class="mainText">{{ name }}</h4>
                    Настройки пользователя
                </li>
                <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                <!--li class="divider"></li>
                <li class="dropdown-header">Уроки</li-->
            </ul>
        </div>
    {% else %}
        <a></a>
        <a align="right" href="/">
            <button align="right" class="btn btn-primary" type="button"
                    aria-expanded="false">
                <img src="/static/img/login.png" align="right" alt="" style="width: 40px; height: 40px;" class="round">
            </button>
        </a>
    {% endif %}
</nav>
{% block content %}
{% endblock %}
</body>
</html>