{% extends "base.html" %}

{% block content %}
<table class="table table-bordered table-striped">
    <thead>
    </thead>
    <tbody>
    <tr style="width:100%;height:50%;">
        <td style="width:50%;padding:0px">
            <div id="S11" data-role="graph"></div>
        </td>
        <td style="width:50%;padding:0px">
            <div id="S12" data-role="graph"></div>
        </td>
    </tr>
    <tr style="width:100%;height:50%;">
        <td style="width:50%;padding:0px">
            <div id="S21" data-role="graph"></div>
        </td>
        <td style="width:50%;padding:0px">
            <div id="S22" data-role="graph"></div>

        </td>
    </tr>
    </tbody>
</table>
<script type="module" src="/static/js/main.js"></script>

{% endblock %}