{% extends "base.html" %}

{% block content %}
<style>
    form {
      max-width: 480px;
      margin: 40px auto;
      font-family: system-ui, sans-serif;
    }
    .error {
      font-size: 0.85rem;
      color: #b00020;
    }
</style>
<form action="" method="post" enctype="multipart/form-data">
    <h2 class="mb-3 text-center">Настройки ВАЦ</h2>
    <!--div>
        <h4>Калибровки</h4>
        <div class="mb-3 d-flex justify-content-between">
            <button class="btn btn-primary" id="HH" onclick="calibration('HH')" type="button">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" id="loader-HH"
                      style="display: none;"></span>
                ХХ
            </button>
            <button class="btn btn-primary" id="KZ" type="button" onclick="calibration('KZ')">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" id="loader-KZ"
                      style="display: none;"></span>
                КЗ
            </button>
            <button class="btn btn-primary" id="Match" type="button" onclick="calibration('Match')">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" id="loader-Match"
                      style="display: none;"></span>
                Нагрузка
            </button>
            <button class="btn btn-primary" id="Bolt" type="button" onclick="calibration('Bolt')">
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" id="loader-Bolt"
                      style="display: none;"></span>
                Болт
            </button>
        </div>
    </div-->
    {{ form.hidden_tag() }}
    <p style="margin-bottom: 0px;">
        {{ form.freq_start_mhz.label(style="margin-bottom: 5px;") }}<br>
        {{ form.freq_start_mhz(class="form-control", type="number") }}<br>
        {% for error in form.freq_start_mhz.errors %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% endfor %}
    </p>
    <p style="margin-bottom: 0px;">
        {{ form.freq_stop_mhz.label(style="margin-bottom: 5px;") }}<br>
        {{ form.freq_stop_mhz(class="form-control", type="number") }}<br>
        {% for error in form.freq_stop_mhz.errors %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% endfor %}
    </p>
    <p style="margin-bottom: 0px;">
        {{ form.num_freq_points.label(style="margin-bottom: 5px;") }}<br>
        {{ form.num_freq_points(class="form-control", type="number") }}<br>
        {% for error in form.num_freq_points.errors %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% endfor %}
    </p>
    <p style="margin-bottom: 0px;">
        {{ form.rbw_khz.label(style="margin-bottom: 5px;") }}<br>
        {{ form.rbw_khz(class="form-control") }}<br>
        {% for error in form.rbw_khz.errors %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% endfor %}
    </p>
    <p style="margin-bottom: 0px;">
        {{ form.output_power_dbm.label(style="margin-bottom: 5px;") }}<br>
        {{ form.output_power_dbm(class="form-control") }}<br>
        {% for error in form.output_power_dbm.errors %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% endfor %}
    </p>
    <p style="margin-bottom: 0px;">
        {{ form.txtr.label(style="margin-bottom: 5px;") }}<br>
        {{ form.txtr(class="form-control", type="number") }}<br>
        {% for error in form.txtr.errors %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% endfor %}
    </p>
    <p style="margin-bottom: 0px;">
        {{ form.mode.label(style="margin-bottom: 5px;") }}<br>
        {{ form.mode(class="form-control") }}<br>
        {% for error in form.mode.errors %}
    <p class="alert alert-danger" role="alert">{{ error }}</p>
    {% endfor %}
    </p>

    <a href="/main" style="float: left;" class="btn btn-danger">Назад</a>
    <p align="right">{{ form.measure(class="btn btn-primary")}}</p>
</form>
<script type="module" src="/static/js/settingsPage/main.js" defer></script>
{% endblock %}

{% block calibration %}
    {% include 'calibration.html' %}
{% endblock %}
